body {
  font-family: "Garamond";
}

.header {
  font-style: italic;
}
.menu-layout {
  max-width: 740px;
  margin: auto;
  text-align: center;
}
#menu-table {
  text-align: left;
  background-color: #f2f2f2;
  width: 100%;
}
#menu-table tr:nth-child(even) {
  background-color: gainsboro;
}

#menu-table th {
  background-color: #f87f65;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 5px;
  padding-right: 5px;
  width: 100%;
}
.remove-comment {
  visibility: hidden;
}
